Package: firefox
Version: VERSION
Architecture: amd64
Section: web
Provides: gnome-www-browser, www-browser
Maintainer: Peter Balling <peter.balling@gmail.com>
Description: Mozilla Firefox web browser - Latest stable version
 Firefox is a powerful, extensible web browser with support for modern
 web application technologies.
